@media screen and (min-width: 767px) {
 
  .hover-opacity {
    transition: opacity 0.2s;
  }
  .hover-opacity:hover {
    opacity: 0.7;
  }
  .hover-scale {
    transition: transform 0.2s;
  }
  a:hover .hover-scale {
    transform: scale(1.1);
  }
  .service-media:hover .hover-scale {
    transform: scale(1.05);
  }
  .hover-text-color {
    transition: 0.2s;
  }
  a:hover .hover-text-color, .hover-text-color:hover {
    color: #f79314;
  }
  a.link-button {
    color: #fff;
  }
}

@media screen and (max-width: 1080px) {
  main {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  main {
    padding-top: 52px;
  }
  html {
    font-size: 15px;
  }
}


@media screen and (max-width: 767px) {
  .pc-dn {
    display: block !important;
  }
  .sp-dn {
    display: none !important;
  }
}


@media screen and (max-width: 1080px) {
  .site-header {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .site-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}


@media screen and (max-width: 767px) {
  .header-logo > .header-logo-pc {
    display: none;
  }
  .header-logo > .header-logo-sp {
    display: inline-block;
    width: auto;
    height: 16px;
  }
}


@media screen and (max-width: 1080px) {
  .header-nav .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
  .header-nav .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
  }
  .header-nav .header-nav-hamburger-line:first-child {
    top: 0;
  }
  .header-nav .header-nav-hamburger-line:last-child {
    top: 100%;
  }
  .header-nav .is-active .header-nav-hamburger-line {
    will-change: top;
    transform: translate(20px, -50%);
    opacity: 0;
  }
  .header-nav .is-active .header-nav-hamburger-line:first-child {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    opacity: 1;
  }
  .header-nav .is-active .header-nav-hamburger-line:last-child {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
    opacity: 1;
  }
  .header-nav .header-nav-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
  }
  .header-nav .header-nav-list.is-active {
    transform: translate3d(-100%, 0, 0);
  }
  .header-nav .header-nav-list.is-scroll {
    top: 60px;
    bottom: 0;
  }
  .header-button-outline {
    margin-top: 20px;
  }
  .header-nav .header-nav-list > li + li {
    margin-left: 0;
  }
  .header-nav .header-nav-item {
    padding: 20px 0;
  }
  .header-nav .header-nav-item > span:first-child {
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
  }
  .header-nav .header-nav-item > span:last-child {
    font-size: 12px;
    margin-top: 10px;
    color: #f79314;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 767px) {
  .header-nav .header-nav-list {
    top: 52px;
  }
  .header-nav .header-nav-list.is-scroll {
    top: 52px;
    bottom: 0;
  }
}

.header-button {
  width: 150px;
}
.header-nav-list > li + li:last-child {
  margin-left: 20px;
}
@media screen and (max-width: 1080px) {
  .header-button {
    margin: 0 auto;
    width: 250px;
  }
  .header-nav-list > li + li:last-child {
    margin-left: 0;
  }
}

.site-footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f79314;
}
.site-footer-main .footer-info {
  order: 1;
}
.site-footer-main .footer-nav {
  order: 2;
}
.site-footer-main .footer-character {
  order: 3;
  align-self: flex-end;
}
.site-footer .site-footer-main + .site-footer-sub {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .site-footer {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .site-footer-main {
    display: block;
    text-align: center;
  }
  .site-footer-main .footer-nav {
    text-align: left;
    margin-left: 20px;
  }
  .site-footer-main * + .footer-character {
    margin-top: 50px;
  }
  .site-footer-main * + .footer-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #fff;
  }
  .site-footer-sub {
    text-align: center;
  }
}


@media screen and (max-width: 767px) {
  .footer-info .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-info .footer-company, .footer-info .footer-address {
    text-align: center;
  }
  .footer-info .footer-social {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .main-section.pick-up-contents {
    padding-top: 55px;
    padding-bottom: 60px;
  }
  .pick-up-contents-list {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .pick-up-contents-list > .pick-up-contents-cassette {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .pick-up-contents-list > .pick-up-contents-cassette + .pick-up-contents-cassette {
    margin-top: 20px;
    padding-top: 30px;
  }
  .pick-up-contents-background {
    height: 62%;
    width: 100%;
    top: 0;
    left: 20px;
    position: absolute;
  }

  .section-content.contents {
    position: relative;
  }

  .section-content.contents {
    position: relative;
  }
  .contents-background {
    position: absolute;
  }
  .plan-cassettes {
    position: relative;
  }

  .main-section.top-works .section-content {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .main-section.pick-up-contents::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 70%;
    display: block;
    width: 281px;
    height: 275px;
    background-image: url(../images/bg-section-top-course.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 40px;
    left: 60%;
    width: 130px;
    height: 130px;
  }
  .pick-up-contents {
    padding-top: 60px;
  }
  .pick-up-contents > .content-width {
    background: none;
    padding-top: 0;
  }
}
@media screen and (max-width: 374px) {
  .pick-up-contents .section-main-heading > br {
    display: block;
  }
}

.page-top-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -105px;
  right: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 12px 30px -15px;
  transition: 0.2s;
}
.page-top-arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-left: solid 3px #f79214;
  border-top: solid 3px #f79214;
  transform: rotate(45deg);
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .page-top-button:hover {
    background-color: #f79214;
  }
  .page-top-button:hover .page-top-arrow {
    border-left: solid 3px #fff;
    border-top: solid 3px #fff;
  }
}
@media screen and (max-width: 767px) {
  .page-top-button {
    right: 20px;
    top: -85px;
  }
}

@media screen and (max-width: 767px) {
  .section-underlayer-hero {
    background-size: 100%;
    padding-top: 42px;
    padding-bottom: 90px;
    background-size: contain;
  }
  .underlayer-hero-heading {
    padding: 0;
    font-size: 22px;
    text-align: center;
    line-height: 1.3;
  }
  .underlayer-hero-heading > span {
    font-size: 24px;
  }
}

@media screen and (max-width: 1080px) {
  .link-button.menu {
    height: 60px;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .link-button {
    font-size: 20px;
  }
  .link-button span:last-child {
    font-size: 12px;
  }
  .link-button.no-subtitle {
    font-size: 16px;
  }
}

.section-header {
  width: 100%;
}
.section-main-heading {
  font-size: 46px;
  font-weight: bold;
}
.ssection-main-heading span {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}
.section-sub-heading {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.section-sub-heading > span {
  font-family: 'Lato', sans-serif;
}
.section-header h2 > span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.section-header.inversion {
  color: #fff;
  background-color: #f79314;
}
.section-header.bottom-line::after {
  content: '';
  display: block;
  border-bottom: solid 6px #f79314;
  width: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .section-main-heading {
    text-align: center;
    font-size: 26px !important;
    line-height: 1.2;
  }
  .section-header h2 > span, .section-main-heading span {
    font-size: 30px;
  }
  .section-sub-heading {
    font-size: 14px;
  }
  .section-header h2 > span {
    letter-spacing: 1px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .top-about-content {
    flex-direction: column;
    width: 100%;
  }
  .about-text, .top-about-button {
    width: 100%;
  }
  .about-text + .top-about-button {
    margin-top: 40px;
    width: 250px;
  }
}
@media screen and (max-width: 767px) {
  .top-about-content {
    flex-direction: column;
  }
  .about-text, .top-about-button {
    width: 100%;
  }
  .about-text + .top-about-button {
    margin-top: 40px;
  }
  .about-text h2 {
    font-size: 26px;
    text-align: center;
  }
  .about-text h2 > span {
    font-size: 30px;
  }
  .banner-for-students--pc {
    display: none;
  }
  .banner-for-students--sp {
    display: block;
    margin: 0 0 50px 5px;
  }
}

@media screen and (max-width: 480px) {
  .banner-for-students--sp {
    margin: 0 0 50px 7.5px;
  }
}

@media screen and (max-width: 414px) {
  .banner-for-students--sp {
    margin: 0 0 50px 5px;
  }
}

@media screen and (max-width: 1080px) {
  .list-text .sp-dn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .desc-list.list-number {
    margin-top: 90px;
  }
  .desc-list .list-no {
    margin-top: -70px;
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
  .desc-list > li + li {
    margin-top: 90px;
  }
  .desc-list .list-title {
    font-size: 20px;
    margin-top: -10px;
  }
  .desc-list .list-text {
    font-size: 15px;
    text-align: start;
    line-height: 2.2;
  }
  .desc-list .list-text .sp-none {
    display: none;
  }
  .desc-list .list-text span {
    font-size: 24px;
  }
}

@media screen and (max-width: 1080px) {
  .desc-list .example.performance {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .desc-list .example {
    padding: 20px;
  }
  .desc-list .example.performance {
    padding: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .desc-list .example-list {
    margin: 0 -30px;
  }
  .desc-list .example-list > li {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .desc-list > li {
    padding: 30px 20px 20px 20px;
  }
  .desc-list .example-list {
    flex-wrap: wrap;
    margin: 0;
  }
  .desc-list .example-list > li {
    padding: 0;
  }
  .desc-list .example-list > li:first-child {
    margin: 0 auto;
    width: 80%;
  }
  .desc-list .example-list > li + li {
    width: 45%;
    margin-top: 30px;
  }
  .desc-list .example-list > li + li img {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .desc-list .example-contents > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .example-title-heading {
    font-size: 16px;
  }
  .desc-list .example-title img {
    margin-left: 5px;
    width: 24px;
  }
  .desc-list .example-contents > li {
    width: 50%;
    padding: 10px 5px;
  }
  .desc-list .example-title::after {
    margin-top: 5px;
    border-bottom: solid 2px #f79314;
  }
}

@media screen and (max-width: 767px) {
  .pagination-button-pre, .pre.trigger {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-section .section-header + .section-content {
    margin-top: 50px;
  }
  .main-section.top-potepan::before {
    width: 125px;
    height: 123px;
    top: 30px;
    right: 20px;
    left: auto;
  }
  .main-section.top-potepan .section-content {
    margin-top: 50px;
  }
  .main-section.top-potepan .course-list {
    padding: 0 20px;
  }
  .main-section.top-potepan .section-content {
    padding-left: 0;
    padding-right: 0;
  }
  .top-potepan .content-width {
    background: none;
    padding-top: 0;
  }
  .main-section.top-potepan {
    padding: 60px 0;
  }
  .main-section.top-potepan::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 60%;
    display: block;
    width: 130px;
    height: 130px;
    background-image: url(../images/bg-section-top-course.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.section-button {
  margin-top: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .section-button {
    margin-top: 40px;
    max-width: 250px;
  }
}

@media screen and (max-width: 1070px) {
  .interview-list {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 160px;
    padding-right: 160px;
  }
  .interview-list > li {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .interview-list > li + li {
    margin-top: 20px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
  }
}
@media screen and (max-width: 840px) {
  .interview-list {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 560px) {
  .interview-list {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .interview-thumbnail-subtitle {
    display: flex;
    flex-direction: column;
  }
  .interview-media .interview-thumbnail-titlebox {
    padding: 50px 10px 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0));
  }
  .interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    margin-left: 0;
  }
  .interview-thumbnail-subtitle::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 13px;
    right: 13px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg);
  }
  .interview-media .interview-media-text {
    margin-top: 20px;
  }
}
@media screen and (max-width: 375px) {
  .interview-media .interview-thumbnail-titlebox {
    padding: 40px 10px 10px;
  }
  .interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle > *:last-child {
    font-size: 11px;
  }
}
@media screen and (max-width: 374px) {
  .interview-media .interview-thumbnail-titlebox {
    padding: 35px 10px 10px;
  }
  .interview-media .interview-thumbnail-titlebox .interview-thumbnail-title {
    font-size: 14px;
  }
  .interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle {
    font-size: 14px;
  }
  .interview-media .interview-thumbnail-titlebox .interview-thumbnail-subtitle .name {
    font-size: 18px;
  }
}

.site-header {
  width: 100%;
  position: absolute;
}

.production-list {
  margin-left: -20px;
  margin-right: -20px;
}
.production-list > .production-cassette {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% / 3);
}
@media screen and (max-width: 767px) {
  .production-list {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .production-list > .production-cassette {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .production-list > .production-cassette + .production-cassette {
    margin-top: 20px;
    padding-top: 30px;
  }
}

.production-media .production-media-text {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.8;
}
.production-media .production-media-thumbnail > img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .production-media {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
  }
  .production-media .production-media-text {
    text-align: center;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
  }
  .production-background {
    top: 0;
    right: 20px;
    left: 20px;
    position: absolute;
    height: 100%;
  }
}

.service-list {
  margin-right: -20px;
  margin-left: -20px;
}
.service-list > li {
  padding-right: 20px;
  padding-left: 20px;
  width: calc(100% / 3);
}
.service-media-thumbnail {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: solid 2px;
  border-radius: 10px;
  padding: 0 20px;
  height: 190px;
  box-sizing: border-box;
}
.service-media-thumbnail.red {
  border-color: #fc6803;
}
.service-media-thumbnail.green {
  border-color: #08af77;
}
.service-media-thumbnail.black {
  border-color: #000;
}
.service-media-thumbnail img {
  width: 100%;
  height: auto;
}
.service-media-text {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .service-list {
    flex-direction: column;
  }
  .service-list > li {
    width: 100%;
  }
  .service-list > li + li {
    margin-top: 40px;
  }
  .service-media-text {
    font-size: 15px;
  }
  .service-media-thumbnail {
    justify-content: center;
  }
  .service-media-thumbnail img {
    max-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .section-top-hero {
    padding-top: 258px;
    padding-bottom: 12px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/top-hero-sp.png);
  }
  .section-top-hero .proviso {
    padding-top: 24px;
  }
  .top-hero-box {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .top-hero-box > * + * {
    margin-top: 20px;
  }
  .top-hero-box .top-hero-text {
    font-size: 15px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
}
@media screen and (max-width: 414px) {
  .section-top-hero .top-hero-text {
    text-align: center;
  }
  .section-top-hero .top-hero-box .No1-notation {
    top: -98px;
    left: -24px;
  }
  .section-top-hero .top-hero-box .No1-notation img {
    width: 88px;
    height: 88px;
  }
}

@media screen and (max-width: 767px) {
  .engineer-list {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }
  .engineer-list .engineer-box {
    margin-left: 0;
    margin-right: 0;
  }
  .engineer-text {
    font-size: 15px;
  }
  .engineer-media {
    padding: 10px 20px 20px;
  }
  .engineer-media .engineer-text > p {
    line-height: 2;
  }
}

@media screen and (max-width: 1024px) {

  .top-hero-box .No1-notation {
    top: -168px;
    right: 0;
    left: -28px;
  }
  .proviso p {
    background-color: rgba(255, 255, 255, .3);
    color: #000;
    padding: 4px;
  }
}
@media screen and (max-width: 767px) {
  .course-list > li + li {
    margin-top: 60px;
  }
  .course-media {
    flex-direction: column;
    padding: 20px;
  }
  .course-title {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 120px;
    margin-top: -40px;
  }
  .course-contents {
    width: 100%;
    margin-top: 25px;
    padding-right: 0;
  }
  .course-text {
    line-height: 1.5;
  }
  .course-contents > div {
    margin-top: 25px;
  }
  .conditions-list {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 0;
  }
  .course-link {
    position: static;
    text-align: right;
    margin-top: 25px;
    padding-right: 20px;
  }
  .course-link::after {
    right: 0;
  }
  .course-title h3 {
    font-size: 20px;
  }
  .course-title h3 span {
    font-size: 12px;
  }
  .top-hero-box .No1-notation {
    top: -118px;
    left: -56px;
  }
  .top-hero-box .No1-notation img {
    width: 120px;
    height: 120px;
  }
  .proviso p {
    background-color: inherit;
    color: inherit;
    padding: none;
  }
}

@media screen and (max-width: 1024px) {
  .message-contents {
    flex-direction: column;
    position: relative;
    background-color: #fff;
    padding: 45px 40px 40px;
  }
  .message-title {
    font-size: 32px;
    background: -webkit-linear-gradient(0deg, #ff802c, #f79214);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .message-text {
    padding: 0;
    margin-right: 0;
    margin-top: 30px;
    order: 2;
  }
  .message-thumbnail {
    order: 1;
  }
  .message-thumbnail > img {
    width: 100%;
  }
}
@media screen and (max-width: 413px) {
  .message-thumbnail p {
    font-size: 14px;
    font-size: 12px;
    padding: 15px;
  }
  .message-thumbnail p span {
    font-size: 20px;
  }
}
@media screen and (max-width: 374px) {
  .message-thumbnail p {
    padding: 5px;
  }
}